@keyframes animation-bounce {
    0% {
        transform: rotate(0deg) translateY(-100%);
    }

    20% {
        transform: rotate(calc(1 * var(--pakui-animation-bounce-max-degree))) translateY(0%);
    }

    40% {
        transform: rotate(calc(-1 * var(--pakui-animation-bounce-max-degree))) translateY(-10%);
    }

    60% {
        transform: rotate(calc(0.5 * var(--pakui-animation-bounce-max-degree))) translateY(0%);
    }

    80% {
        transform: rotate(calc(-0.5 * var(--pakui-animation-bounce-max-degree))) translateY(-5%);
    }

    100% {
        transform: rotate(0deg) translateY(0%);
    }
}

@keyframes animation-bounce-alt {
    0% {
        transform: rotate(0deg) translateY(-100%);
    }

    20% {
        transform: rotate(calc(-1 * var(--pakui-animation-bounce-max-degree))) translateY(0%);
    }

    40% {
        transform: rotate(calc(1 * var(--pakui-animation-bounce-max-degree))) translateY(-10%);
    }

    60% {
        transform: rotate(calc(-0.5 * var(--pakui-animation-bounce-max-degree))) translateY(0%);
    }

    80% {
        transform: rotate(calc(0.5 * var(--pakui-animation-bounce-max-degree))) translateY(-5%);
    }

    100% {
        transform: rotate(0deg) translateY(0%);
    }
}
